*,
*::before,
*::after {
    box-sizing: border-box;
}

/* vid-29 CSS Sprites */
.bg-saturn {
    background: url("../images/css-sprite-combined.png") 0px -0px;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.bg-ufo {
    background: url("../images/css-sprite-combined.png") -100px -0px;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.bg-dishes {
    background: url("../images/css-sprite-combined.png") -200px -0px;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.bg-landing {
    background: url("../images/css-sprite-combined.png") -300px -0px;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.bg-rocketship {
    background: url("../images/css-sprite-combined.png") -400px -0px;
    width: 100px;
    height: 100px;
    display: inline-block;
}

/* vid-17-18 Embedding Web Fonts */
@font-face {
    font-family: "open_sans";
    src: url("/font/opensans/opensans-regular-webfont.woff2") format("woff2"),
        url("/font/opensans/opensans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: "open_sans";
    src: url("/font/opensans/opensans-bold-webfont.woff2") format("woff2"),
        url("/font/opensans/opensans-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

/* vid-42 CSS Frameworks: see bootstrap milligram site */
textarea {
    resize: none;
}

/* vid-42 CSS Frameworks: see bootstrap milligram site */

/* vid-41 Styling Forms */
label {
    display: block;
}

input[type="text"],
input[type="email"] {
    border: 3px solid grey;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    transition: border-color 0.15s, box-shadow 0.15s;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-color: yellow;
    outline: 0;
    box-shadow: 0 0 0 5px rgba(38, 0, 255, 0.25);
}

button {
    background: darkblue;
    color: white;
    border: 0;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    outline: 0;
}

.form-group {
    margin-bottom: 1rem;
}

/* vid-38 Font Icons */
.icon {
    font-size: 2rem;
    color: dodgerblue;
}
/* vid-31-32 CSS Clipping - Filters */
.ufo {
    width: 200px;
}

/* vid-31-32 CSS Clipping - Filters */
.meal:hover {
    /* clip-path: polygon(
        0% 20%,
        60% 20%,
        60% 0%,
        100% 50%,
        60% 100%,
        60% 80%,
        0% 80%
    ); */
    filter: grayscale(70%) blur(1px);
    /* height: 400px; */
}

/* vid-28 Background Images */
/* vid-24 Formatting Text */
/* vid-22-23 Vertical-Horizontal Spacing */
/* vid-20-21 System Font Stack-Sizing Fonts */
/* vid-19 Font Services */
/* vid-16 Styling Fonts */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    /* font-family: "Open Sans", Arial, Helvetica, sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    background: url(../images/bg-sanfrancisco.jpg);
    background-repeat: no-repeat;
    /* background-position: 100% 0; */
    background-size: cover;
    background-attachment: fixed;

    padding: 1rem;
}
h2 {
    margin: 3rem 0 1rem;
}

/* p + p { */
p {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    /* font-family: "open_sans", Georgia, "Times New Roman", Times, serif; */
    /* font-style: italic; */
    color: #222;

    font-size: 1rem;
    /* line-height: 1.5; */

    letter-spacing: 1px;
    word-spacing: 2px;

    text-align: left;
    text-indent: 1rem;
    text-decoration: underline; /* line-through; */
    /* text-transform: capitalize; */

    /* width: 50ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    /* line-clamp: 3; */

    columns: 2;
    column-gap: 2rem;
    column-rule: 3px dotted #999;

    direction: ltr;

    border: 3px solid black;
}

/* vid-14 Media Queries */
.container14 {
    display: flex;
    flex-direction: column;
}
.box14 {
    border: 5px solid gold;
    /* background-color: gold; */
    padding: 1rem;
}
.box14:nth-child(2) {
    border: 5px solid dodgerblue;
    /* background-color: dodgerblue; */
}
/* vid-55 Transformations */
.box14:hover {
    /* transform: rotate(15deg); */
    /* transform: scale(0.5); */
    /* transform: skew(15deg); */
    transform: translate(10px);
}

@media screen and (min-width: 600px) {
    .container14 {
        flex-direction: row;
    }
}
@media screen and (min-width: 900px) {
    .container14 {
        flex-direction: row;
    }
    .box14 {
        border: 5px solid greenyellow;
        /* background-color: greenyellow; */
    }
}

@media print {
    body {
        font-size: 12pt;
    }
    .box14 {
        padding: 0.5cm;
    }
}

/* vid-13 Hiding Elements */
/* .vid-13 {
    display: none;
    visibility: hidden;
} */

/* vid-12 Grid */
/* .container {
    border: 5px solid gray;
        background-color: greenyellow;

    display: grid;
        grid-template-rows: repeat(3, 100px);
        grid-template-columns: 100px 100px;
            grid-template: repeat(3, 120px) / repeat(2, 120px);
    grid-template: 100px auto 100px / 30fr 70fr;

    grid-template-areas:
        "header  header"
        "sidebar main"
        ".       footer";

        justify-items: center;
        align-items: center;
            justify-content: center;
            align-content: center;
    height: 100vh;

        row-gap: 10px;
        column-gap: 10px;
    gap: 10px;
} */
/* .box {
        width: 5rem;
        height: 5rem;
    background: gold;
} */
/* .box-1 {
    grid-column: 1/-1;
        grid-area: header;
} */
/* .box-3 {
    grid-area: footer;
} */

/* vid-11 FlexBox */
/* .container {
    height: 90vh;
    border: 5px solid lightgray;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    align-content: center;
    flex-wrap: wrap;
} */
/* flex-shrink: 1 1 15rem; */
/* .box {
    flex-basis: 15rem;
    flex-grow: 1;
    flex-shrink: 1;

    width: 10rem;
    height: 10rem;
    background: gold;
    margin: 1rem;
}
.box-1 {
    align-self: flex-start;
} */

/* vid-10 Floating Elements */
/* .tweet {
    border: 5px solid lightgray;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.avatar {
    width: 5rem;
    height: 5rem;
    background-color: gold;
    float: left;

    margin-right: 0.5rem;
}
.clear {
    clear: both;
} */

/* vid-9: Positioning */
/* .boxes {
    border: 5px solid lightgray;
    position: relative;
}
.box {
    width: 10rem;
    height: 10rem;
}
.box-1 {
    background-color: gold;
}
.box-2 {
    background-color: tomato;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.box-3 {
    background-color: dodgerblue;
} */

/* set font size of root element: 62.5% x 16px = 10px */
/* html {
    font-size: 62.5%;
} */

/* border: 5px solid gold; */
/* p {
    padding: 0px;
    margin: 20;
} */

/* body {
    margin: 10px;
} */

/* .box::before {
    content: "Mimi";
} */

/* .box { */
/* 10em = 10 x 16px = 160px - font size current element*/
/* font-size: 20px; */

/* rem - font size root element = 16px fixed */
/* width: 20rem; */
/* height: 100vh; 100% */
/* border: 5px solid gold; */
/* overflow: hidden auto; */

/* background-color: yellow; */

/* padding: 20px;
    border: 10px solid orange; */
/* display: inline-block; */
/* } */
